extends layout

block content

	each val in data
		.row
			.col-2
				.card.cyan 
					.card-content
						p
							h1 #{val.name}
							.card
								ul
									li 
										h2   Name : #{val.name}
									li
										h2   Phone No. : #{val.phone}
									li
										a(href='delete?name='+val.name) Delete
									li
										a(href='updatePug?id='+ val.id +' & name=' + val.name + '& phone=' + val.phone) Update

